.container {
    background-color: antiquewhite;
    height: 110px;
    display: flex;
    align-items: center;
}

.container p {
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.logo {
    margin-left: 40px;
    width: 50px;
    height: 70px;
}

.divBusca {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txtbusca {
    width: 250px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-image: url(assents/16492.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right;
}

.icons {
    width: 30px;
    height: 30px;
    
}

.nig {
    color: black;
}

.frase {
    color: #F08C7C;
    font-size: 60px;
    font-family: "Leckerli One", cursive;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-25%, -80%);
    text-align: center;
    width: 70%;
}

.imagem2 {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
}

.imagem2 img {
    width: 100%;
    height: auto;
}

.moda {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 24px;
    margin-top: 20px;
}


.container1 {
    padding: 20px;
}

.card1 {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
}